<!DOCTYPE html>
<html lang="en">

  {{ partial "head.html" . }}

  <body>

    {{ partial "nav.html" . }}

    <div role="main" class="container main-content">

      {{ partial "header_wp.html" . }}
	  
      {{ if eq .Type "post" }}
        {{ partial "post.html" . }}
      {{ else if eq .Type "page" }}
        {{ partial "page.html" . }}
      {{ else }}
        <div class="container" role="main">
          NO MATCHING PARTIAL
          {{.Content}}
        </div>
      {{ end }}

    </div>

    {{ partial "footer.html" . }}

  </body>
</html>
