<!-- TODO this file has become a mess, refactor it -->

{{ if or .Params.bigimg .Title }}

  {{ if .Params.bigimg }}
    <div id="header-big-imgs" data-num-img=1 data-img-src-1="{{.Params.bigimg}}"></div>
  {{ end }}

  <header class="header-section {{ if .Params.bigimg }}has-img{{ end }}">
  {{ if .Params.bigimg }}
    <div class="big-img intro-header">
      {{ partial "header.html" . }}
      <span class='img-desc'></span>
    </div>
  {{ end }}
  <div class="intro-header no-img">
    {{ partial "header.html" . }}
  </div>
  </header>
{{ else }}
  <div class="intro-header"></div>
{{ end }}